
.blocks {
  width: 100%;
  flex-wrap: wrap;
  display: flex;
}

.blocks__block {
  width: 300px;
  height: 300px;
  margin: 0.5rem;
  //transform:  perspective(200em) rotateX(25deg);


  background: linear-gradient(20deg, $slate, darken($slate, 5%));

  //&:nth-child(5n) {
  //  background: linear-gradient(20deg, $slate, darken($slate, 5%));
  //}

  //&:nth-child(5n + 1) {
  //  background: linear-gradient(20deg, $green, darken($green, 5%));
  //}
  //
  //&:nth-child(5n + 2) {
  //  background: linear-gradient(20deg, $red, darken($red, 5%));
  //}
  //
  //&:nth-child(5n + 3) {
  //  background: linear-gradient(20deg, $blue, darken($blue, 5%));
  //}
  //
  //&:nth-child(5n + 4) {
  //  background: linear-gradient(135deg, $mustard, darken($mustard, 10%));
  //}
}

