.button {
  display: inline-block;
  color: $primary-color-text;
  &:visited {
    color: $primary-color-text;
  }
  background-color: $accent-color;
  border-radius: 3px;
  font-size: 1rem;
  padding: 0.25rem 0.5rem;
  margin: 0.25rem 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  &:hover {
    background-color: darken($accent-color, 2%);
  }
}
