.logo {
  width: 20vw;
  height: 20vw;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: $accent-color;
  text-align: center;
  z-index: 2;
  @include standardBoxShadow;
}
.logo__link {
  text-decoration: none;
  color: $primary-color-text;
  font-size: 10vw;
  line-height: 20vw;
  vertical-align: text-bottom;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
  &:visited {
    color: $primary-color-text;
  }
}

@media (min-width: 400px) {
  .logo {
    width: 80px;
    height: 80px;
  }

  .logo__link {
    font-size: 40px;
    line-height: 80px;
  }
}
