.name-lockup {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  //background-color: rgba(255,255,255,0.5);
  overflow: hidden;
}
.name-lockup__heading {
  color: $accent-color;
  font-size: 2.2rem;
}
.name-lockup__subheading {
  color: $primary-color-text;
  font-size: 1.8rem;
}
.name-lockup__standfirst {
  color: $primary-color-text;
  font-size: 1.2rem;
}
