* {
  box-sizing: content-box;
}

html {
  font-size: 16px;
}

body {
  //background: $divider-color url('/assets/AdobeStock_70723928_WM.jpeg') no-repeat fixed center center;
  background-color: black;
  background-size: cover;
  min-height: 100vh;
  font-weight: 400;
  font-family: "Open Sans", Times New Roman, serif;
  position: relative;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4 {
  font-weight: 700;
  font-family: "Roboto Slab", serif;
}

a {
  color: $accent-color;
  text-decoration: none;
  &:visited {
    color: $accent-color;
  }
}




